# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*.pyc
__pycache__/

# pycharm
.idea/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MacOS
.DS_store

# Do not include .py files compiled from protobuf specs.
# protos/*.py
!protos/__init__.py
!protos/*_helper.py

# ipython notebook
*.ipynb
.ipynb_checkpoints/

.vscode
data/
output/
private_data/
*.so
venv/
# armada-common/
# armada-common/Fighter/google/
*/config_*.yaml
compute_svc/C0DE_*.py
compute_svc/start_compute_svc_group.sh
logs
console/algorithm*
console/task_cfg*
algorithm_work_dir
results_root
log/
*.log
*.csv
*.tar.gz
nodes_conf_example_*.json
!*_min.csv
build/
dist/
*.whl
*egg-info
tests/cluster_test/nodes_conf/*.ini
tests/cluster_test/nodes_conf/*.json
checkpoint
certs/
!certs/README.md

third_party/consul_server/*
!third_party/consul_server/download_consul.sh
!third_party/consul_server/run_consul.sh
third_party/rosetta/Rosetta
third_party/psi/PSI
third_party/channel_sdk/datum-network-channel-sdk

!pb/fighter/api/data
